---
// Imagine um motherfucking engradado de projetos

import type { ProjectData } from "@/models/Project";
import { profilePicture } from "@/lib/clientShorthand";

export interface Props {
  project: ProjectData;
}

const { project } = Astro.props;
---

<div
  class="project-in-grid"
  style={`background-image: url("${profilePicture(project.thumbnail_url)}")`}
>
  {
    project.nsfw && (
      <img class="crucificamente" src="/img/crucificamente.png" alt="" />
    )
  }
  <div class="overlay">
    <a
      href={`/projects/${project.id}`}
      class="project-link"
      title={project.title}></a>
    <p class="arial">
      <span class="title">{project.title}</span>
      <br />
      <span class="gray">{project.type}</span>
      <br />
      {
        project.tags && project.tags.length > 0 && (
          <span class="gray">Tags: {project.tags.join(", ")}</span>
        )
      }
    </p>
    <a
      href={`/users/${project.author.username}`}
      class="user"
      title={project.author.nickname}
    >
      <img
        src={profilePicture(project.author.avatar_url)}
        alt={project.author.nickname}
      />
      <div class="info">
        <p class="time">
          {new Date(project.created_at).toLocaleString("pt-BR")}
        </p>
        <p class="nickname arial">{project.author.nickname}</p>
      </div>
    </a>
  </div>
  {
    project.type.includes("video") && (
      <>
        <img class="play-icon" src="/img/sprites/play-blue.svg" />
      </>
    )
  }
</div>

<style lang="scss">
  .project-in-grid {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 217 / 163;

    background-size: cover;
    background-position: center;
    image-rendering: auto;

    position: relative;

    &:hover {
      .overlay {
        opacity: 1;

        .user {
          transform: translateY(0);
        }
      }

      .crucificamente {
        opacity: 0;
      }
    }

    .crucificamente {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;

      opacity: 1;
      transition: opacity 0.4s;
    }

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 6px;

      transition: opacity 0.1s;

      .project-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
      }

      > p {
        pointer-events: none;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        white-space: nowrap;

        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          text-align: center;

          color: #ffffff;
        }

        .gray {
          opacity: 0.5;
          color: white;
          font-size: 12px;
        }
      }

      .user {
        display: flex;
        gap: 6px;
        align-items: flex-end;
        width: fit-content;

        transform: translateY(100%);
        transition: transform 0.2s cubic-bezier(0.33, 1.57, 0.62, 0.96);

        img {
          width: 32px;
          height: 32px;
        }

        .info {
          .time {
            font-style: normal;
            font-weight: 400;
            font-size: 0.625rem;
            line-height: 0.6875rem;

            color: rgba(255, 255, 255, 0.4);
          }

          .nickname {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;

            color: #ffffff;
          }
        }
      }
    }

    .play-icon {
      pointer-events: none;
      z-index: 1;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.1s, transform 0.1s;
    }

    &:hover {
      .play-icon {
        opacity: 0;
        transform: scale(0.8);
      }
    }
  }
</style>
