---
import "easymde/dist/easymde.min.css";
import Layout from "@/layouts/Layout.astro";
import { profilePicture } from "@/lib/clientShorthand";
import Profile from "@/models/Profile";
import Media from "@/models/Media";

const sessionProfile = await Profile.current(Astro);

const media = await Media.get(Astro.params.id);

if (!media) return Astro.redirect("/404");
if (!sessionProfile || sessionProfile.id !== media.author.id)
  return Astro.redirect("/403");
---

<Layout
  title={`Deletando mídia ${media.title}`}
  id="deletar_midia"
  profile={sessionProfile}
>
  <h1>Deletando mídia</h1>
  <form>
    <input type="hidden" name="id" value={media.id} />

    <h1>Você tem CERTEZA MESMO que quer deletar {media.title}??</h1>
    <p>
      Quero que pense bem noq está fazendo, a não ser q vc tenha o link do
      imgur, recuperar essa porra será literalmente impossível pra mim.
    </p>
    <img
      src={profilePicture(media.image_url)}
      alt={media.title}
      width="200"
      height="200"
    />

    <button type="submit">SIM, DELETAR!!!</button>
  </form>
</Layout>

<script>
  const form = document.querySelector("#deletar_midia form") as HTMLFormElement;

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    onSubmit();
  });

  async function onSubmit() {
    const data = new FormData(form);

    const response = await (
      await fetch("/admin/actions/media", {
        method: "delete",
        body: data,
      })
    ).json();

    if (response.error) {
      alert(response.error.message);
      return;
    }

    window.location.href = `/media`;
  }
</script>
