---
import { profilePicture } from "@/lib/clientShorthand";
import Project from "@/models/Project";
import Ad from "./Ad.astro";

const projects = await Project.search({ page: 1, perPage: 5 });
---

<aside id="barra-do-lado">
  <img class="splat" src="/img/sprites/barra-do-lado-splat.png" alt="" />
  <div class="top"></div>
  <div class="bottom">
    <img src="/img/sprites/barra-do-lado.png" alt="Barra do lado" />
    <div class="box">
      <slot />
      <div class="header"><p>novidades</p></div>
      <div class="project-list">
        {
          projects.data.map((project) => (
            <div class="project arial">
              <a href={`/projects/${project.id}`} class="thumbnail">
                <img class="static" src="/img/static.gif" alt="" />
                {project.type === "game" ? (
                  <img class="icon" src="/img/sprites/jogos.png" alt="Jogo" />
                ) : ["image", "video"].includes(project.type) ? (
                  <img class="icon" src="/img/sprites/midia.png" alt="Mídia" />
                ) : project.type === "blog" ? (
                  <img class="icon" src="/img/sprites/blogs.png" alt="Blog" />
                ) : ["document", "page"].includes(project.type) ? (
                  <img
                    class="icon"
                    src="/img/sprites/bofetadamente.png"
                    alt="Bofetadamente"
                  />
                ) : (
                  <img
                    class="icon"
                    src="/img/sprites/projetos.png"
                    alt="Projetos"
                  />
                )}
                <img
                  class="image"
                  src={
                    project.nsfw
                      ? "/img/crucificamente.png"
                      : profilePicture(project.thumbnail_url)
                  }
                  alt={project.title}
                />
              </a>
              <div class="info">
                <a href="/" class="title">
                  {project.title}
                </a>
                <a href={`/users/${project.author.username}`} class="user">
                  <img
                    src={profilePicture(project.author.avatar_url)}
                    alt={project.author.nickname}
                  />
                  <div class="info">
                    <p class="time">
                      {new Date(project.created_at).toLocaleDateString("pt-BR")}
                    </p>
                    <p class="title">{project.author.nickname}</p>
                  </div>
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <a href="/projects" class="link">
        <p class="arial">&lt;&lt; Ver novidades anteriores</p>
      </a>
      <div class="header"><p>anuncios fake lmao</p></div>
      <Ad />
    </div>
  </div>
</aside>

<script>
  import { loadSample, playSample, stopSample } from "@/lib/audio";

  (async () => {
    const tvOn = await loadSample("/sfx/tv-on.wav");

    const tvStatic = await loadSample("/sfx/tv-static.wav");

    const projectLinks = document.querySelectorAll<HTMLAnchorElement>(
      ".project-list .project .thumbnail"
    );

    projectLinks.forEach((link) => {
      let loop: AudioBufferSourceNode | null = null;

      link.addEventListener("mouseenter", () => {
        playSample(tvOn);
        loop = playSample(tvStatic, {
          volume: 0.5,
          loop: true,
        });
      });

      link.addEventListener("mouseleave", () => {
        loop = stopSample(loop);
      });
    });
  })();
</script>

<style lang="scss" is:global>
  aside#barra-do-lado {
    display: flex;
    flex-direction: column;
    max-width: 15.875rem;
    position: relative;
    margin-bottom: 4rem;

    .splat {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      pointer-events: none;

      object-fit: none;
      object-position: top right;

      mix-blend-mode: overlay;
      opacity: 0.3;
    }

    .top {
      height: 8px;
      image-rendering: pixelated;
      background: url("/img/sprites/barra-do-lado-grid-topo.png");
    }

    .bottom {
      image-rendering: pixelated;
      background: url("/img/sprites/cramunhao-grid.png");

      > * {
        image-rendering: auto;
      }

      > img {
        margin-left: 1rem;
        margin-top: 0.25rem;
        image-rendering: pixelated;
      }

      .box {
        margin-left: 0.1875rem;
        margin-right: 0.1875rem;
        margin-top: 0.5rem;
        margin-bottom: 0.1875rem;
        position: relative;
        padding: 0.5rem;

        &::before {
          content: "";
          mix-blend-mode: overlay;
          opacity: 0.6;
          border: 2px solid #ffffff;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          pointer-events: none;
        }

        .header {
          margin-top: 24px;
          background: rgb(255, 255, 255, 0.2);
          border: 2px solid rgb(0, 0, 0, 0.2);

          &:first-of-type {
            margin-top: 0;
          }

          p {
            font-family: "Hooge", "Courier New", Courier, monospace;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;

            color: #ffffff;
            margin-left: 2px;
          }
        }

        .project-list {
          margin-top: 9px;
          display: flex;
          flex-direction: column;
          gap: 4px;

          .project {
            display: flex;
            align-items: flex-start;
            gap: 6px;

            .thumbnail {
              position: relative;
              width: 4rem;
              height: 3rem;

              &:hover {
                .static,
                .icon {
                  display: block;
                }
              }

              .image,
              .static {
                width: 4rem;
                height: 3rem;
                object-fit: cover;
                object-position: center;
              }

              .static {
                box-shadow: inset 0px 0px 6px #ffffff;
                position: absolute;
                opacity: 0.7;
                display: none;
              }

              .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -60%);
                filter: drop-shadow(0px 0px 6px #ffffff);
                display: none;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 2px;
              overflow: hidden;

              .title {
                display: block;
                font-style: normal;
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 0.875rem;

                color: #ffffff;

                white-space: nowrap;

                text-overflow: ellipsis;
                overflow: hidden;
              }

              .user {
                display: flex;
                gap: 6px;
                align-items: flex-end;

                img {
                  width: 32px;
                  height: 32px;
                }

                .info {
                  gap: 0px;

                  .time {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.625rem;
                    line-height: 0.6875rem;

                    color: rgba(255, 255, 255, 0.4);
                  }

                  .title {
                    color: rgba(255, 255, 255, 0.6);
                  }
                }
              }
            }
          }
        }

        .link {
          margin-top: 10px;
          display: block;

          font-style: normal;
          font-weight: 400;
          font-size: 0.5625rem;
          line-height: 0.625rem;

          color: rgba(255, 255, 255, 0.6);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>
