---
import BarraDoLado from "@/components/BarraDoLado.astro";
import BuscaAvancada from "@/components/projects/BuscaAvancada.astro";
import Pagination from "@/components/projects/Pagination.astro";
import Layout from "@/layouts/Layout.astro";
import { profilePicture } from "@/lib/clientShorthand";
import Profile from "@/models/Profile";
import Project from "@/models/Project";

const sessionProfile = await Profile.current(Astro);

const currentPage = Number(Astro.url.searchParams.get("page") ?? 1);
const projects = await Project.search({
  query: Astro.url.searchParams.get("q") ?? "",
  types: Astro.url.searchParams.get("types")?.split(",") || [],
  tags: Astro.url.searchParams.get("tags")?.split(",") || [],
  authors: Astro.url.searchParams.get("authors")?.split(",") || [],
  nsfw: !Astro.url.searchParams.has("sfw"),
  oldest: Astro.url.searchParams.has("oldest"),
  perPage: 9,
  page: currentPage,
});

const pageCount = projects.pageCount;
---

<Layout
  id="projects"
  title="Projetos"
  profile={sessionProfile}
  custom_color="rainbow"
>
  <div class="container">
    <div class="box">
      <div class="top"></div>
      <div class="bottom">
        <div class="title-bar">
          <img src="/img/sprites/projetos-grande.png" alt="Mídia" />
          <h2 class="hooge">&gt; PROJETOS</h2>
        </div>
        <div class="inset">
          <div class="list">
            {
              projects.data?.map((project) => (
                <div class="project">
                  <a class="project-link" href={`/projects/${project.id}`}>
                    <img
                      src={profilePicture(project.thumbnail_url)}
                      alt={project.title}
                    />
                    <div class="info">
                      <h3 class="arial">{project.title}</h3>
                      <p class="arial">{project.type}</p>
                      {project.tags && (
                        <p class="arial">Tags: {project.tags?.join(", ")}</p>
                      )}
                    </div>
                  </a>
                  <a
                    class="profile-link"
                    href={`/users/${project.author.username}`}
                  >
                    <div class="info">
                      <p class="nickname arial">{project.author.nickname}</p>
                      <p class="date">
                        {new Date(project.created_at).toLocaleDateString(
                          "pt-BR"
                        )}
                      </p>
                    </div>
                    <div class="avatar">
                      <img
                        src={profilePicture(project.author.avatar_url)}
                        alt={`Foto de perfil de ${project.author.nickname}`}
                      />
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
          <Pagination
            currentPage={currentPage}
            pageCount={pageCount}
            url={Astro.url}
          />
        </div>
      </div>
    </div>
    <BarraDoLado>
      <BuscaAvancada />
    </BarraDoLado>
  </div>
</Layout>

<style lang="scss" is:global>
  #projects {
    .container {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: flex-start;

      > .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 36px;
        margin-bottom: 24px;

        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

        .top {
          height: 8px;
          image-rendering: pixelated;
          background: url("/img/sprites/barra-do-lado-grid-topo.png");
        }

        .color {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          mix-blend-mode: soft-light;
        }

        .bottom {
          image-rendering: pixelated;
          background: url("/img/sprites/cramunhao-grid.png");
          padding: 0 16px 16px;

          * {
            position: relative;
            z-index: 1;
          }

          .title-bar {
            display: flex;
            gap: 12px;
            align-items: flex-end;

            img {
              width: 96px;
              height: 96px;
              object-fit: contain;
              object-position: center;
              image-rendering: auto;
              margin-top: -60px;
            }

            h2 {
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 27px;

              color: #ffffff;
              margin-bottom: 5px;
            }
          }

          .inset {
            width: 100%;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
              ),
              url("/img/sprites/cramunhao-grid.png");
            box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);
            margin-top: 6px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .list {
              width: 100%;
              display: flex;
              gap: 0px;
              flex-direction: column;
              padding: 10px;

              .project {
                image-rendering: auto;
                display: flex;
                justify-content: space-between;
                gap: 32px;
                background: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 0.5) 0%,
                  rgba(205, 205, 205, 0.5) 10%,
                  rgba(177, 177, 177, 0.5) 100%
                );

                a {
                  display: flex;

                  &.project-link {
                    width: 100%;

                    img {
                      width: 76px;
                      height: 76px;
                      object-fit: cover;
                      object-position: center;
                    }

                    .info {
                      padding: 8px;
                      color: white;
                      font-size: 12px;

                      h3 {
                        font-weight: bold;
                        font-size: 16px;
                      }

                      p {
                        opacity: 0.5;
                      }
                    }
                  }

                  &.profile-link {
                    background-color: #0000004d;

                    &:hover {
                      .info {
                        width: 112px;
                        padding-left: 8px;
                      }
                    }

                    .info {
                      padding: 8px;
                      padding-right: 0;
                      color: white;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-end;
                      justify-content: end;

                      width: 0px;
                      padding-left: 0;
                      overflow: hidden;

                      transition: width 0.1s ease-out,
                        padding-left 0.1s ease-out;

                      .nickname {
                        font-weight: bold;
                      }

                      .date {
                        opacity: 0.5;
                        font-size: 12px;
                      }
                    }

                    .avatar {
                      width: 76px;
                      height: 76px;
                      padding: 8px;

                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }

            .pagination {
              margin: 4px 0 14px;
            }
          }
        }
      }
    }
  }
</style>
