---
import BarraDoLado from "@/components/BarraDoLado.astro";
import Box from "@/components/Box.astro";
import BuscaAvancada from "@/components/projects/BuscaAvancada.astro";
import Pagination from "@/components/projects/Pagination.astro";
import ProjetoListado from "@/components/projects/ProjetoListado.astro";
import Layout from "@/layouts/Layout.astro";
import { profilePicture } from "@/lib/clientShorthand";
import Profile from "@/models/Profile";
import Project from "@/models/Project";

const sessionProfile = await Profile.current(Astro);

const currentPage = Number(Astro.url.searchParams.get("page") ?? 1);
const projects = await Project.search({
  query: Astro.url.searchParams.get("q") ?? "",
  types: Astro.url.searchParams.get("types")?.split(",") || [],
  tags: Astro.url.searchParams.get("tags")?.split(",") || [],
  authors: Astro.url.searchParams.get("authors")?.split(",") || [],
  nsfw: !Astro.url.searchParams.has("sfw"),
  oldest: Astro.url.searchParams.has("oldest"),
  perPage: 9,
  page: currentPage,
});

const pageCount = projects.pageCount;
---

<Layout id="projects" title="Projetos" profile={sessionProfile}>
  <div class="container">
    <Box title="PROJETOS" image="/img/sprites/projetos-grande.png">
      <div class="list">
        {projects.data?.map((project) => <ProjetoListado project={project} />)}
      </div>
      <Pagination
        currentPage={currentPage}
        pageCount={pageCount}
        url={Astro.url}
      />
    </Box>
    <BarraDoLado>
      <BuscaAvancada />
    </BarraDoLado>
  </div>
</Layout>

<style lang="scss" is:global>
  #projects {
    .container {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: flex-start;

      .list {
        width: 100%;
        display: flex;
        gap: 0px;
        flex-direction: column;
        padding: 10px;
      }

      .pagination {
        padding: 4px 0 14px;
      }
    }
  }
</style>
