---
import Layout from "@/layouts/Layout.astro";
import PageExists from "@/layouts/PageExists.astro";
import { profilePicture } from "@/lib/clientShorthand";
import Profile from "@/models/Profile";

import { marked } from "marked";

const sessionProfile = await Profile.current(Astro);

const profile = await Profile.get({ username: Astro.params.user });

if (!profile) {
  Astro.response.status = 404;
}
---

<PageExists profile={sessionProfile} exists={!!profile}>
  <Layout
    title={profile?.nickname}
    profile={sessionProfile}
    edit_url={profile?.username === sessionProfile?.username
      ? "/admin/editar/conta"
      : undefined}
  >
    <div class="profile">
      <h1>{profile?.username}</h1>
      <div class="bio" set:html={marked.parse(profile?.bio || "")} />
      <img
        src={profilePicture(profile?.avatar_url)}
        alt={`Foto de perfil de ${profile?.username}`}
        width="200"
        height="200"
      />
      <p class="date">
        {new Date(profile?.created_at || "").toLocaleString("pt")}
      </p>
    </div>
  </Layout>
</PageExists>
