---
import BarraDoLado from "@/components/BarraDoLado.astro";
import Box from "@/components/Box.astro";
import BuscaAvancada from "@/components/projects/BuscaAvancada.astro";
import Pagination from "@/components/projects/Pagination.astro";
import ProjetoEngradado from "@/components/projects/ProjetoEngradado.astro";
import Layout from "@/layouts/Layout.astro";
import Profile from "@/models/Profile";
import Project from "@/models/Project";

const sessionProfile = await Profile.current(Astro);

const currentPage = Number(Astro.url.searchParams.get("page") ?? 1);
const media = await Project.search({
  types: ["image", "video"],
  perPage: 9,
  page: currentPage,
});

const pageCount = media.pageCount;
---

<Layout id="media" title="Mídia" profile={sessionProfile}>
  <div class="container">
    <Box title="MÍDIA" image="/img/sprites/midia-grande.png" color="#00BD2A">
      <div class="grid">
        {media.data?.map((project) => <ProjetoEngradado project={project} />)}
      </div>
      <Pagination
        currentPage={currentPage}
        pageCount={pageCount}
        url={Astro.url}
      />
    </Box>
    <BarraDoLado>
      <BuscaAvancada />
    </BarraDoLado>
  </div>
</Layout>

<style lang="scss" is:global>
  #media {
    .container {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: flex-start;

      .grid {
        width: 100%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        padding: 10px;
      }

      .pagination {
        padding: 4px 0 14px;
      }
    }
  }
</style>
